# Python
__pycache__/
*.py[cod]
*.so
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Logs & runtime artifacts
runs/
*.log

# OS cruft
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/
.idea/
*.swp

# Temporary or local data
.tmp/
.cache/
